<div ng-cloak>
  <md-content class="md-whiteframe-12dp">
    <md-tabs md-dynamic-height md-border-bottom md-colors="{background: 'grey-800'}" id="Administrar_tab">
      <md-tab label="Consultar Faltas">
        <md-content class="md-padding">
          
        Aqui va una tabla de las faltas del ususario con sus correspondientes mensajes (en defecto aparece un mensaje de "felicitaciones usted no posee faltas")
              
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>