<!doctype html>
<html ng-app="webApp">
<head>
  <meta charset="utf-8">
  <title>Empacando para estudiar</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css" />
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/panel.css">
  <link rel="stylesheet" href="css/tags.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  

</head>
<body layout="row" ng-controller="MenuCtrl">

  <md-sidenav md-colors="{background: 'indigo-800'}"  layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="getMinRes()" ng-if="id!=undefined">
          
    <md-toolbar md-colors="{background: 'grey-900'}" >
      <div class="md-toolbar-tools">
  
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openLeftMenu()" ng-show="!getMinRes()">
          <!--<md-tooltip>Close</md-tooltip>-->
          <md-icon ng-show="!getMinRes()">close</md-icon>
        </md-button>  
        <h2 class="md-toolbar-tools">{{user}}</h2>
      </div>  
    </md-toolbar>

    <md-list>
      <md-list-item ng-click="openLeftMenu()" href="#/principal" layout="row">
        <i class="material-icons" flex="25">home</i>
        <span class="md-body-1" flex><h4 style="text-align:center">Principal</h4></span>
      </md-list-item>
      <md-list-item ng-if="lvl==2" ng-click="openLeftMenu()" href="#/administrar">
        <i class="material-icons" flex="25">settings</i>
        <span class="md-body-1" flex><h4 style="text-align:center">Administrar</h4></span>
      </md-list-item>
      <md-list-item ng-if="lvl==2" ng-click="openLeftMenu()" href="#/usuarios">
        <i class="material-icons" flex="25">supervisor_account</i>
        <span class="md-body-1" flex><h4 style="text-align:center">Usuarios</h4></span>
      </md-list-item>
      <md-list-item ng-click="openLeftMenu()" href="#/turnos">
        <i class="material-icons" flex="25">schedule</i>
        <span class="md-body-1" flex><h4 style="text-align:center">Turnos</h4></span>
      </md-list-item>
      <md-list-item ng-if="lvl==2" ng-click="openLeftMenu()" href="#/faltas">
        <i class="material-icons" flex="25">error_outline</i>
        <span class="md-body-1" flex><h4 style="text-align:center">Faltas</h4></span>
      </md-list-item>
      <md-list-item ng-click="openLeftMenu()" href="#/perfil">
        <i class="material-icons" flex="25">perm_identity</i>
        <span class="md-body-1" flex><h4 style="text-align:center">Perfil</h4></span>
      </md-list-item>
      <md-list-item ng-click="logout()">
        <i class="material-icons" flex="25">power_settings_new</i>
        <span class="md-body-1" flex><h4 style="text-align:center">Desconexión</h4></span>
      </md-list-item>
    </md-list>
  </md-sidenav>


  <div layout="column" class="relative" layout-fill role="main">      
    <md-toolbar md-colors="{background: 'grey-900'}" >
      <div class="md-toolbar-tools">
        
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openLeftMenu()" ng-show="!getMinRes()">
          <!--<md-tooltip>Menu</md-tooltip>-->
          <md-icon class="md-default-theme" class="material-icons" ng-show="!getMinRes()">menu</md-icon>
        </md-button>
        
        
        <span flex></span>
        <div layout="row" layout-align="end center">
          <div><h2>Empacando para estudiar</h2></div>
          <div><img src="img/epe_img-ico.png" weight="50" height="50"></div>
        </div>
        <!--<span class="md-body-1"><h2>Empacando para estudiar</h2> <img src="img/epe_img-ico.png" weight="50" height="50"> </span>-->
      </div>
    </md-toolbar>

    <md-content flex md-scroll-y style="background: #ddd">
      <ui-view layout="column" layout-fill layout-padding>
        <div ng-view></div>
      </ui-view>
    </md-content>

  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
  
  <script src="js/app.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/menu.js"></script>
  <script src="js/services/linksService.js"></script>
  <script src="js/services/pollingService.js"></script>
  <script src="js/filters/http.js"></script>
  <script src="js/filters/tags.js"></script>
  <script src="js/filters/searchFor.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
